.burger {
    display: flex;
    align-items: center;
    /* width: 10vw;
    height: 20vh; */
    /* margin-left: 30px; */
    /* margin-right: 60px;  */
    /* margin-top:22px; */
    width: 10%;
    height: 100%;

    position: absolute;
    top : 0px;

    left: 5%;
    transition: left 0.25s;
    z-index: 2;

}

.panel__cross-menu{
  z-index: 5;
  right:0px;
  position: absolute;
}

.panel__arrow {
  font-size: 50px;
  cursor: pointer;

}

.panel__designer {
  color :white;
}

.burger--active {

  /* right: 0%; */
  /* left: 35%; */
  /* left: 90%; */
  
}

.burger__menu-button-container {
  /* display: none; */
  /* height: 100%; */
  /* width: 30px; */
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger__menu-toggle {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.burger__menu-toggle--open {
  opacity: 0;
}


.burger__menu-button,
.burger__menu-button::before,
.burger__menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 100%;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.burger__menu-button::before {
  content: '';
  margin-top: -14%;
}

.burger__menu-button::after {
  content: '';
  margin-top: 14%;
}

.burger__menu-toggle--open + .burger__menu-button-container .burger__menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.burger__menu-toggle--open + .burger__menu-button-container .burger__menu-button {
  background: rgba(255, 255, 255, 0);
}

.burger__menu-toggle--open + .burger__menu-button-container .burger__menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


.panel {
    height: 100vh;
    /* height: calc(var(--trueHeight)*100px) ; */
    width: 0;
    position : absolute;
    left: 0;
    top: 0;

    transition: width 0.25s;
    background-color: #40508B;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    /* row-gap: 20%; */
    z-index: 4;
}

@media all and (min-width : 1280px)
{
  .panel {
    width: 265px;
    z-index: 1;
  }
  .panel__cross-menu{
    display: none;
  }
  .burger {
    display: none;
  }

}

.panel--active {
  width: 100%;
}

.panel__section-footer {
  font-size: 2em;

  cursor: pointer;
}

.panel__section-main {
  font-size: 2.5em;
  cursor: pointer;
}
.panel__section-main:hover {
  text-decoration: underline;

}

.panel__info-about{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;

  background-color: #40508B;
  
}

@media all and (max-width: 750px){

.panel__info-about{
  font-size: 12px;

}

}
.panel__cross{
  transform: rotate(45deg);
  /* position: absolute; */
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  font-size: 100px;
  cursor: pointer;
}

.panel__overlay {
  position : fixed;
  right: 0;
  top: 0;
  width: 100vw;
  background-color: black;
  opacity: 50%;
  z-index: 3;

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}