.burger {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    /* margin-right: 60px;  */
    margin-top:22px;

    position: absolute;
    top : 0px;

    left: 10%;
    transition: left 0.25s;

}

.burger--active {

  /* right: 0%; */
  left: 80%;
  /* left: 90%; */
  
}

.burger__menu-button-container {
  /* display: none; */
  /* height: 100%; */
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#burger__menu-toggle {
    display: none;
}


.burger__menu-button,
.burger__menu-button::before,
.burger__menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 6px;
  width: 40px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.burger__menu-button::before {
  content: '';
  margin-top: -14px;
}

.burger__menu-button::after {
  content: '';
  margin-top: 14px;
}

#burger__menu-toggle:checked + .burger__menu-button-container .burger__menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#burger__menu-toggle:checked + .burger__menu-button-container .burger__menu-button {
  background: rgba(255, 255, 255, 0);
}

#burger__menu-toggle:checked + .burger__menu-button-container .burger__menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


.panel {
    height: 100%;
    width: 0;
    position : absolute;
    left: 0;
    top: 0;

    transition: width 0.25s;
    background-color: #40508B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.panel--active {
  width: 50%;
}