.componentHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.componentHeader__title {

    font-family: Overlock SC;
    font-size: large;
    letter-spacing: 1em;
    text-align: center;
    margin-left: 10px;
}


