.main-page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 20px;
    height: 100vh;
    position : inherit;
}


.main-page__title {
    background-color: #40508B;
    color: white;
    width : 100%;
    font-family: Overlock SC;
    font-size: large;
    letter-spacing: 1em;
    text-align: center;
    margin-bottom: 5%;
}



.main-page__container-canvas {
    
    /* border: solid red 30px; */
    border-radius: 10%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

.main-page__translation {
    width: 100%;
    height: 8%;
    border-radius: 20px 20px 0 0;

    background-color: #FF6160;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* @media only screen and (max-width: 720px) { */
    @media only screen and (orientation: portrait) {
    .main-page__container-canvas {
        width : 100%;
        height: 50%;
        border :20px solid #FF6160 ;
        box-sizing: border-box;
    }
}

.main-page__canvas {
        /* width: 40vw; */
        border-radius: 30px;


}

.main-page__kanji-div {
    /* height: 40vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page__kanji-text {
    width: 100%;
    height: 100%;
    font-size: 400px;
    text-orientation: vertical;

}

.main-page__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* column-gap: 10px; */

    width: 100%;
    height: 100%;

}

/* .main-page__buttons button {
    height: 100%;
    width: 10%;
} */
.main-page__buttons-row {
    display: flex;
    /* flex: 1; */
    justify-content: space-evenly;
    width : 100%;
    height:  15%;
    
}

.main-page__buttons-row button {
    font-size: 2em;
    width: 25%

}

.main-page__buttons-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 50%;

}

.main-page__buttons-center button {
    height: 50%;
    font-size: 3em;
}

/* @media only screen and (orientation: portrait) { */
    .main-page__buttons button {
        /* flex: 1; */
        /* width: 100%; */
        background-color: #40508B;
        color: white;
        border-radius: 50px;
        font-family: Overlock SC;

    }
/* } */

.main-page__answers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* height: 30%; */
    flex: 1;
    width: 100%;
}


.main-page__answers button {

    background-color: #40508B;
    color: white;
    border-radius: 50px;
    width: 90%;
    height: 15%;
    font-size: 1.5em;
}

.main-page__answers-buttons--wrong {
    color : red;
}

.main-page__answers-buttons--good {
    color: green;
}

button {

    box-shadow: 0 10px #273153;
    border: none ;
    transition: all .05s ease 0s;
}

button:active {
    box-shadow: 0 5px #273153;
    transform: translateY(5px);

}